*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

body{
   height: 100vh;
   background: aliceblue; 
   
}

li{
   list-style: none;
}

a{
   text-decoration: none;
   color: #ffffff;
   font-size: 1rem;
}
.navbar .logo a:hover{
   color: #e0ac1c;
}

a:hover{
   color: #e0ac1c;
}

/*header*/
header {
   position: relative;
   padding: 1.5rem 2.5rem;
   background: #2d2e33;/*#abbcb6*/
   margin-bottom: 2rem;
}

.navbar{
   width: 100%;
   height: 60px;
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}

.navbar .logo a{
   font-size: 2.5rem;
   font-weight: bold;
}



.navbar .toggle_btn{
   color: #f51d1d;
   font-size: 1.5rem;
   cursor: pointer;
   display: none;
}


/*menú desplegable para header responsive*/
.dropdown_menu{
   display: none;
   position: absolute;
   right: 2rem;
   top: 110px;
   height: 0;
   width: 300px;
   background: rgba(14, 158, 158, 0.452);
   backdrop-filter: blur(15px);
   border-radius: 10px;
   overflow: hidden;
   transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
   height: 210px;
   width: 90%;
}
.dropdown_menu li{
   padding: 0.7rem;
   display: flex;
   align-items: center;
   justify-content: center;
}
/* responsive header*/
@media(max-width: 1500px){
   .navbar .links{
       display: none;
   }

   .navbar .toggle_btn{
       display: block;
   }

   .dropdown_menu{
       display: block;
   }
}

@media(max-width: 576px){
   .dropdown_menu{
       left: 2rem;
       width: unset;
   }
}
/*para el menu*/
nav{
   position: relative;
   width: 606px;
   height: 45px;
   background:  #2d2e33;
   border-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   right:-130px;/*distancia del menú del lado derecho*/
}
nav a{
   position: relative;
   display: inline-block;
   font-size: 1em;
   font-weight: 500;
   color:#fff;
   text-decoration: none;
   padding: 0 23px;
   z-index: 1;

   
}


nav a:hover{
  font: bold 11px;
  color:#fcfcfc;
}
nav span{
   position: absolute;
   top: 0;
   left: 0;
   width: 110px;
   height: 100%;
   background: linear-gradient(45deg,#6bdbc3,#2d4385);
   border-radius: 8px;
   transition: .5s;
   left: 0;
}

nav a:nth-child(1):hover~span{
   left: 0;

}
nav a:nth-child(2):hover~span{
   left: 128px;
   width: 93px;
}
nav a:nth-child(3):hover~span{
   left: 239px;
   width: 120px;
}
nav a:nth-child(4):hover~span{
   left: 384px;
   width: 88px;
}
nav a:nth-child(5):hover~span{
   left: 498px;
   width: 100px;
}

 /*pie de pagina*/
 footer{
   display: flex;
   flex-wrap: wrap;
   margin-top: auto;
   background-color: #2d2e33;
   padding: 60px 10%;
   justify-content: space-between;
}

ul{
   list-style: none;

}

.footer-col{
   width: 25%;
  
}

.footer-col h4{
   position: relative;
   margin-bottom: 30px;
   font-weight: 400;
   font-size: 35px;
   color: #f1bc0d;
   text-transform: capitalize;

}

.footer-col h4::before{
   content: '';
   position: absolute;
   left: 0;
   bottom: -6px;
   background-color: #27c0ac;
   height: 2px;
   width: 40px;
}

ul li:not(:last-child){
   margin-bottom: 8px;
}

ul li a{
   display: block;
   font-size: 19px;
   text-transform: capitalize;
   color: #bdb6b6;
   text-decoration: none;
   transition: 0.4s;
}

ul li a:hover{
   color: white;
   padding-left: 2px;

}

ul li p{
   font-size: 30px;
   display: block;
   font-size: 19px;
   text-transform: capitalize;
   color: #bdb6b6;
   text-decoration: none;
   transition: 0.5s;
}

ul li p:hover{
   color: rgb(37, 223, 236);
   padding-left: 2px;
}
/*para agregar grids*/
*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
 /*PIE DE PÁGINA RESPONSIVE*/
 footer {
   display: flex;
   flex-wrap: wrap;
   margin-top: -60px;
   background-color: #2d2e33;
   padding: 60px 10%;
   justify-content: space-between;

  
   bottom: 0;
}

/*medias    */
@media (max-height:800px) {
   footer {
       position: static;
   }
}

.footer-distributed {
   background-color: #2d2a30;
   box-sizing: border-box;
   width: 100%;
   text-align: left;
   font: bold 16px sans-serif;
   padding: 50px 50px 60px 50px;
   margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
   display: inline-block;
   vertical-align: top;
}

.footer-distributed .footer-left {
   width: 30%;
}

.footer-distributed h3 {
   color: #ffff;
   font-size: 35px;
   margin: 0;
}

.footer-distributed h3 span {
   color: #e0ac1c;
}

.footer-distributed .footer-links {
   color: #fff;
   margin: 20px 0 12px;

}

.footer-distributed .footer-links a {
   display: inline-block;
   line-height: 1.8;
   text-decoration: none;
   color: inherit;
}

.footer-distributed .footer-company-name {
   color: #8f9296;
   font-size: 14px;
   font-weight: normal;
   margin: 0;
}

.footer-distributed .footer-center {
   width: 35%;
}

.footer-distributed .footer-center i {
   background-color: #33383b;
   color: #ffff;
   font-size: 25px;
   width: 38px;
   height: 38px;
   border-radius: 50%;
   text-align: center;
   line-height: 42px;
   margin: 10px 15px;
   vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
   font-size: 17px;
   line-height: 38px;
}

.footer-distributed .footer-center p {
   display: inline-block;
   color: #ffff;
   vertical-align: middle;
   margin: 0;
}

.footer-distributed .footer-center p span {
   display: block;
   font-weight: normal;
   font-size: 14px;
   line-height: 2;
}

.footer-distributed .footer-center p a {
   color: #e0ac1a;
   text-decoration: none;
}

.footer-distributed .footer-right {
   width: 30%;
}

.footer-distributed .footer-company-about {
   line-height: 20px;
   color: #92999f;
   font-size: 13px;
   font-weight: normal;
   margin: 0;
}

.footer-distributed .footer-company-about span {
   display: block;
   color: #ffff;
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 20px;
}
.footer-links a:hover {
   color: #3f71ea;
}

@keyframes moving{
   0%{
       left:-20px;
   }
   100%{
       left: 100%;
   }
}
@media(max-width:880px) {

   .footer-distributed .footer-links,
   .footer-distributed .footer-center,
   .footer-distributed .footer-right {
       display: block;
       width: 100%;
       margin-bottom: 40px;
       text-align: center;
   }

   .footer-distributed .footer-center i {
       margin-left: 0;
   }
}

.visor{
   position: absolute;
   
}


/*contenido */
.categ{
   display: flex;
   justify-content: center;
   padding: 20px;
   width: 20%;
   margin: 35px auto;
   background: #90bbf3;
   border-radius: 20px;
   box-shadow: 8px 8px 10px #000000;
}

.elemento2{
   background-color:  rgba(240, 255, 255, 0.699);/*azure*/
   display: flex;
   justify-content: space-between;
   padding: 40px;
   width: 98%;
   margin: 50px auto;
  
   border-radius: 20px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);

   margin-left: 10px;
   margin-right: 10px;
}
.elemento2:hover{
   background-color: rgb(197, 235, 250);/*rgb(4, 49, 14)*/

}
.elemento2 img{
   width: 200px;
   border-radius: 30px;
   /*border:  dashed 3px white;dashed para contorno de lineas puntedadas*/
   object-fit: cover;
   /*box-shadow: 5px 5px 6px #e0ac1c;*/
   transition: 2s;
}
/*hover para acercar imagen*/
.elemento2 img:hover{
   transform: scale(1.4);
   transition: 2s;
}
/*fin del hover para acercar imagen*/
.elemento2 h1{
   margin: 0;
   color: rgb(16, 24, 128);
}
.elemento2 p{
   color: rgb(0, 0, 0);/*antiquewhite*/
   margin-right: 15px;
}


 /*para video de fondo*/
 .container{
   position: relative;
   height: 100vh;
}
.video-container{
   position: fixed;/*si genera problemas pasarlo a absolute*/
   top: 0;
   left: 0;
   z-index: -5;
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.video-container video{
   opacity: 500;
   position: relative;
   top: 50%;
   left: 50%;
   object-fit: cover;
   width: 100%;
   height: 100%;
   transform: translate(-50%,-50%);
}

/*segundo diseño del titulo*/

.neon-text{
   text-transform: uppercase;
   font-size: 5em;
   cursor: pointer;
   transition: 2.5s linear;
   color: transparent;
   -webkit-text-stroke: 2px rgb(24, 31, 95);
   background-image: linear-gradient(to left, rgb(36, 161, 192), rgb(100, 198, 223), white, rgb(255, 255, 255));
   background-size: 200%;
   -webkit-background-clip: text;
   animation: move 30s linear infinite;
}

@keyframes move{
   100%{
       background-position: 2000px 0;
   }
}

.neon-text:hover{
   color: rgb(0, 255, 234);
   text-shadow: 0 0 10px rgba(0, 195, 255, 0.5),
               0 0 20px rgba(0, 195, 255, 0.5),
               0 0 40px rgba(0, 195, 255, 0.5),
               0 0 80px rgba(0, 195, 255, 0.5),
               0 0 160px rgba(0, 195, 255, 0.5),
               0 0 320px rgba(0, 195, 255, 0.5),
               ;
}

.campo{
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 40%;
  margin: 15px auto;

  border-radius: 20px;
  
  color: white;
}
  /*bibliografía*/
  #biblio{
   margin: auto;
   width: 50%;
   align-items: center;
 }
 #biblio a{
   color: #063019;
 }
 #biblio a:hover{
   color: #0329ff;
 }

 /*diseño responsive*/
  /*computadora*/
@media(min-width:1200px){
   .navbar .logo a{
      margin-right: 1rem;
       color: white;
       font-size: 2rem;
       font-weight: bold;
   }
}

 /*laptops*/

 @media(max-width:1200px){
   .navbar .logo a{
      margin-right: 1rem;
       color: white;
       font-size: 3rem;
       font-weight: bold;
   }
   .campo{
      font-size: 15px;
   }
   .categ{
      width: 49%;
      margin: 35px auto;
 }
 #biblio{
   padding: 1.2rem;
   width: 96%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
#biblio .parrafo{
   font-size: small;
   
 }
 #biblio a{
   font-size: small;
 }
 #biblio a:hover{
   color: #0329ff;
 }
 }

 /*tablets hasta 768*/
@media(max-width:768px){
   .navbar .logo a{
      margin-right: 1rem;
       color: white;
       font-size: 2rem;
       font-weight: bold;
   }
   .campo{
      font-size: 12px;
   }
   .categ{
      width: 49%;
      margin: 35px auto;
 }
 #biblio{
   padding: 1.2rem;
   width: 96%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
#biblio .parrafo{
   font-size: small;
   
 }
 #biblio a{
   font-size: small;
 }
 #biblio a:hover{
   color: #0329ff;
 }

}

/*celulares hasta 600*/
@media(max-width:600px){
   .navbar .logo a{
      margin-right: 1rem;
       color: white;
       font-size: 1rem;
       font-weight: bold;
   }
   .campo{
      font-size: 7px;
   }
   .categ{
      width: 49%;
      margin: 35px auto;
 }
 .elemento2{
   padding: 20px;
   width: 90%;
   margin: 50px auto;
  
   border-radius: 20px;
   box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);

 }
#temp{
   margin-left: -33px;
}
.elemento2 img{
 max-width: 100px;
 max-height: 100px;
 border-radius: 30px;
 /*border:  dashed 3px white;dashed para contorno de lineas puntedadas*/
 object-fit: cover;
 /*box-shadow: 5px 5px 6px #e0ac1c;*/
 
}
/*hover para acercar imagen*/
.elemento2 img:hover{
 transform: scale(1.0);
 transition: 2s;
}
#visor{
   max-width: 300px;
}
#biblio{
   padding: 1.2rem;
   width: 96%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
#biblio .parrafo{
   font-size: 8px;
   
 }
 #biblio a{
   font-size: 8px;
 }
 #biblio a:hover{
   color: #0329ff;
 }
 #alfre{
   font-size: 13px;
}
}